# dependencies
node_modules/

# environment
.env
.env.local
.env.production
.env.development

# build
dist/
.next/
out/

# logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# local testing
server/client.rest